[Unit]
Description=Регулярна перевірка оновлень Starlink Monitor (щодня, з рандомізованою затримкою)

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=1800
Persistent=true
Unit=starlink-updater.service

[Install]
WantedBy=timers.target
